In [3]:
def full_name():
    print("Muhammad Shazad Ahsan")

In [5]:
full_name()

Muhammad Shazad Ahsan

In [6]:
full_name()

Muhammad Shazad Ahsan

In [7]:
full_name()

Muhammad Shazad Ahsan

In [9]:
def full_name():
    print("Muhammad Hamza Khan")
    print("Muhammad Shazad Ahsan")

In [10]:
full_name()

Muhammad Hamza Khan
Muhammad Shazad Ahsan

In [11]:
def student(s):
    print(s)

In [12]:
student('anas')

anas

In [13]:
student('sana')

sana

In [14]:
student(123)

123

In [16]:
student(123.45)

123.45

In [17]:
student(True)

True

In [18]:
student(['ahsan','umer'])

['ahsan', 'umer']

In [25]:
def calculator(input1, input2, operator):
    if(operator == "+"):
        print(input1+input2)
    elif(operator == "-"):
        print(input1-input2)
    elif(operator == "*"):
        print(input1*input2)
    elif(operator == "/"):
        print(input1/input2)
    else:
        print('Invalid')

In [28]:
call = calculator(10,2,"/")

5.0

In [27]:
calculator(2,2,"+")

4

In [29]:
def calculator(input1, input2, operator):
    if(operator == "+"):
        return(input1+input2)
    elif(operator == "-"):
        return(input1-input2)
    elif(operator == "*"):
        return(input1*input2)
    elif(operator == "/"):
        return(input1/input2)
    else:
        print('Invalid')

In [30]:
call = calculator(10,2,"/")

In [31]:
call

5.0

In [32]:
def my_name(f_name):
    return f_name



name1 = my_name("Ahsan")
print(name1)

Ahsan

In [37]:
def family(son_name , father_name):
    print(f"Son name is {son_name}")
    print(f"Father name is {father_name}")

In [38]:
family(father_name ='Ahsan' , son_name ="Shahzad")

Son name is Shahzad
Father name is Ahsan

In [46]:
def friends(names):
    for name in names:
        print(name)

friends(['Ramsha','Shakeel','Sara','Shahzad'])

Ramsha
Shakeel
Sara
Shahzad

In [50]:
def my_full_name(F_name , l_name , s_name):
    full_name = F_name + l_name + s_name
    print(full_name)

In [54]:
my_full_name('Anas ' ,  'Yahya ' , 'Saya')

Anas Yahya Saya

In [56]:
def my_full_name(F_name , l_name , s_name = ' '):
    full_name = F_name + l_name + s_name
    print(full_name)

In [58]:
my_full_name("Abdul"," Rafay")

Abdul Rafay

In [99]:
def shopping_mall(amount):
    if (amount <= 5000):
        tax = 0.05
        print(f"Total Amount inclusive of Tax {str(amount*tax + amount)}")
    elif (amount >= 5000):
        tax = 0.1
        print(f"Total Amount inclusive of Tax {str(amount*tax + amount)}" )
    else:
        ("Enter Correct Amount")

In [100]:
shopping_mall(5000)

Total Amount inclusive of Tax 5250.0

In [101]:
shopping_mall(3000)

Total Amount inclusive of Tax 3150.0

In [102]:
shopping_mall(8000)

Total Amount inclusive of Tax 8800.0