In [ ]:
print("Hello")

# Our first class

first class

This is our first class in Dhoraji Association

In [ ]:
print ("Hello")

In [ ]:
print("hello world ")

In [ ]:
print ("Hello Python!")

In [ ]:
print("anas" , "dsl" , sep="***")

In [ ]:
print("anas" , "dsl" )

In [ ]:
print (123+4)

In [ ]:
print (123, "hello")

In [ ]:
print ("This is AI class\nDhoraji")

In [ ]:
print ("Languages:\nPython\nRuby\nJavaScript")

In [ ]:
print ("Languages:\n\tpython\n\tc\n\tJavaScript")

In [ ]:
print ("Anas")

In [ ]:
num = 10+2+5+6+4+8+6+8
print (num)

In [ ]:
num = 10
print (num)
type (num)

In [ ]:
num = "Pakistan Zindabad"
print (num)
type (num)

In [ ]:
num = "Pakistan Zindabad"
print (num)
type (num)
id (num)

In [ ]:
num = "Pakistan Zindabad"
print (num)
print(type (num))
id (num)

In [ ]:
message = "Dhoraji Association Karachi"
print(message)

In [ ]:
a = 10 +1
a

In [ ]:
a = 10
a
print (a)

In [ ]:
num_1 = 150
print (num_1 + 20)

In [ ]:
num_1 = 20
num_2 = 30
num_3 = 40
print (num_1+num_2+num_3 )

In [ ]:
original_number=15
new_number=20
total=original_number+new_number
print (total)

In [ ]:
num_1 =20
num_2 =50
new_num =num_1+num_2
print(new_num)

In [ ]:
num1=5
num2=5
num3=5
num4=5
num5=5
num6=5

In [ ]:
num =10
another_num=1.5
total=num+another_num
print(int(total)) #type casting

In [ ]:
name = "Shahzad Ahsan"
name = "Muhammad Ali"
print (name)

In [ ]:
message = "Good Evening"
print (message)
message = "How are you all"
print (message)

In [ ]:
First_name = "muhammad"
print(First_name.title())

In [ ]:
Middle_name = "HaMZa"
print(Middle_name.lower())

In [ ]:
last_name = "khan"
print(last_name.upper())

In [ ]:
FirstName="Muhammad"
MiddleName="Anas"
LastName="SaYa"
full_name =FirstName + " "+ MiddleName + " " + LastName
print (full_name)
print (full_name.title())
print (full_name.lower())
print (full_name.upper())

In [ ]:
#how to take input from user
num1 = int(input("Enter first number: "))
num2 = int(input ("Enter second number: "))


total = num1 + num2
print(total)

In [ ]:
#how to take input from user
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))


print("the total of two inputs "+ (str(num1+num2)))

In [ ]:
#how to take input from user
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))


thetotaloftwooutputs = num1 +num2
print(thetotaloftwooutputs)

In [ ]:
#how to take input from user
num1 = input("Enter first number: ")
num2 = input ("Enter second number: ")


total = num1 + num2
print(total)

In [ ]:
F_name = "Anas"
L_name = "Saya"
Full_Name = F_name+ " "+L_name
print("Hello, How are you "+ Full_Name +" ? ")

In [ ]:
whats_left_over= 10 % 3
print (whats_left_over)

In [ ]:
whats_left_over= 3 % 9
print (whats_left_over)

In [ ]:
age = 2
age = age +1
print (age)

In [ ]:
age =12
age +=50
print(age)

In [ ]:
print ("Hello World")
print ("Hello Python")

In [ ]:
print ("Hello World", end='\n')
print ("Hello Python")

In [ ]:
print ("Hello World", end='\t')
print ("Hello Python")

In [ ]:
print ("Hello World", end=' ')
print ("Hello Python")

In [ ]:
print ("Hello World","Hello Class", sep="<separator>", end='\t')
print ("Hello Python")

In [ ]:
a=10 #assign a value 10 to a variable a
b=20/2
a==b #compare the value in a with the value in b
tomatoPrice=100
if tomatoPrice==100:
    print("Buy 1 kg")
    #indentation
else:
    print("Buy 1/2 kg")

In [ ]:
a=10 #assign a value 10 to a variable a
b=20/2
a==b #compare the value in a with the value in b
tomatoPrice=110
if tomatoPrice==100:
    print("Buy 1 kg")
    #indentation
else:
    print("Buy 1/2 kg")

In [ ]:
tomatoprice=int(input("what is the price of 1 kg tomato: " ))
if tomatoprice==100:
    print("Buy 1 kg")
else:
    print("Buy 1/2 kg")

In [ ]:
if "abc"==100:
    print("valid")
else:
    print("invalid comaprison")

In [ ]:
num = int(input("Number"))
if num % 2 == 0:
          print("Even Number")
else:
          print("Odd Number")

In [ ]:
num = int(input("Number"))  # == (compare)
if num % 2 == 0:
          print("Even Number")
else:
          print("Odd Number")

In [ ]:
num =int(input())
quotient = num/2
if type(quotient)=="int":
    print("even")
else:
    print("odd")

In [ ]:
2+3

#integer +integer =integer

In [ ]:
2+3.5

#integer +float = float

In [ ]:
a=2+3.5
type(a)
#integer +float = float

In [ ]:
.5+.5
#float + float = float

In [ ]:
1/1
#integer divide integer = float

In [ ]:
1//1
# double divide means answer we need is in integer

In [ ]:
5/2

In [ ]:
5//2

In [ ]:
a=1
a+= 10
a

In [ ]:
a= 10
a= a+2
a

In [ ]:
age = 12
age += 50
age

In [ ]:
age = 12
age -= 50
age

In [ ]:
age = 12
age *= 50
age

In [ ]:
age = 12
age /= 50
age

In [ ]:
var1 = 100
if var1:
    print("var1")
else:
    print("no")

In [ ]:
name = input(). upper()
if name == "ANAS":
    print("my name is " + name)
else:
    print("no")

In [ ]:
weight = float(input("How many pounds does your suitcase weigh ? "))
if weight > 50:
    print("There is a $25 charge for luggage that heavy.")
    
print("Thank you for your business")

In [ ]:
weight = float(input("How many pounds does your suitcase weigh ? "))
if weight > 50:
    print("There is a $25 charge for luggage that heavy.")
    
print("Thank you for your business")

In [ ]:
temperature=float(input("What is the weather feels today"))
if temperature > 25:
    print ("Wear Shorts")
else:
    print("Wear Jeans")

In [ ]:
x = float(input("Enter your marks out of 100 :"))
if x >= 100:
    print("Wrong input")
elif x >= 90:
    print("Grade A*")
elif x >= 80:
    print("Grade A")
elif x >= 70:
    print("Grade B*")
elif x >= 60:
    print("Grade B")
elif x >= 50:
    print("Grade C")
elif x >= 33:
    print("Fail")

In [ ]:
English = float(input("Enter your english marks: "))
Maths = float(input("Enter your maths marks: "))
Accounts = float(input("Enter your accounts marks: "))
Programming = float(input("Enter your programming marks: "))
Urdu = float(input("Enter your urdu marks: "))

totalmarksobtained=English+Maths+Accounts+Programming+Urdu
print(totalmarksobtained)
total=500
percentage=totalmarksobtained/total*100
print(percentage)

In [ ]:
English = float(input("Enter your english marks: "))
Maths = float(input("Enter your maths marks: "))
Accounts = float(input("Enter your accounts marks: "))
Programming = float(input("Enter your programming marks: "))
Urdu = float(input("Enter your urdu marks: "))

totalmarksobtained=English+Maths+Accounts+Programming+Urdu
print("You have obtained : "+ str(totalmarksobtained)+" Marks")
total=500
percentage=totalmarksobtained/total*100
print(percentage)

if percentage >= 100:
    print("Wrong input")
elif percentage >= 90:
    print("Grade A*")
elif percentage >= 80:
    print("Grade A")
elif percentage >= 70:
    print("Grade B*")
elif percentage >= 60:
    print("Grade B")
elif percentage >= 50:
    print("Grade C")
elif percentage >= 33:
    print("Fail")

In [ ]:
English = float(input("Enter your english marks: "))
Maths = float(input("Enter your maths marks: "))
Accounts = float(input("Enter your accounts marks: "))
Programming = float(input("Enter your programming marks: "))
Urdu = float(input("Enter your urdu marks: "))

totalmarksobtained=English+Maths+Accounts+Programming+Urdu
print("You have obtained : "+ str(totalmarksobtained)+" Marks")
total=500
percentage=totalmarksobtained/total*100
print(percentage)

if percentage >= 100:
    print("Wrong input")
elif percentage >= 90:
    grade = "A*"
elif percentage >= 80:
    grade = "A"
elif percentage >= 70:
    grade = "B*"
elif percentage >= 60:
    grade = "B"
elif percentage >= 50:
    grade = "C"
else:
    print("Fail")

    
print("\ntotalmarksobtained" + str(totalmarksobtained) +".\npercentage" + str(percentage) +".\ngrade"+ str(grade))

In [5]:
English = float(input("Enter your english marks: "))
Maths = float(input("Enter your maths marks: "))
Accounts = float(input("Enter your accounts marks: "))
Programming = float(input("Enter your programming marks: "))
Urdu = float(input("Enter your urdu marks: "))

totalmarksobtained=English+Maths+Accounts+Programming+Urdu
print("You have obtained : "+ str(totalmarksobtained)+" Marks")
total=500
percentage=totalmarksobtained/total*100
print(percentage)
if English < 33:
    print("Fail in English")
if Maths < 33:
    print("Fail in Maths")
if Accounts < 33:
    print("Fail in Accounts")
if Programming < 33:
    print("Fail in Programming")
if Urdu < 33:
    print("Fail in Urdu")
else:
    print ("You can not be graded")
if percentage >= 100:
    print("Wrong input")
    
elif percentage >= 90:
    grade = "A*"
elif percentage >= 80:
    grade = "A"
elif percentage >= 70:
    grade = "B*"
elif percentage >= 60:
    grade = "B"
elif percentage >= 50:
    grade = "C"
else:
    grade = "F"
    print("You have failed overall")
    

    
print("\ntotalmarksobtained" + str(totalmarksobtained) +".\npercentage" + str(percentage) +".\ngrade"+ str(grade))

Enter your english marks: 99
Enter your maths marks: 5
Enter your accounts marks: 99
Enter your programming marks: 99
Enter your urdu marks: 99
You have obtained : 401.0 Marks
80.2
Fail in Maths
You can not be graded

totalmarksobtained401.0.
percentage80.2.
gradeA