# Dictionaries

In [1]:
a={'key':'value'}

In [2]:
alien_0 = {'color':'green','points': 5}
print(alien_0['color'])
print(alien_0['points'])

green
5

In [6]:
alien_0={'color':'green','points':5}
new_points=alien_0['points']
print("You just earned "+ str(new_points) + " points!")

You just earned 5 points!

In [10]:
myDic = {1:23,3:56,7:100}

In [11]:
myDic1 = {1:"Pk", 2: "US"}

In [13]:
myDic2 = {"name":"Saad", "f_name":"Khan"}

In [14]:
myDic3 = {"name":"Dhoraji", "type":"Association","Work":"Association"}

In [16]:
myDic4 = {"type":"Dhoraji", "type":"Association","Work":"Association"}

In [17]:
myDic4["type"]

'Association'

In [18]:
myDic5 = {1:("que","ert")}

In [19]:
myDic5[1]

('que', 'ert')

In [20]:
myDic5[1][1]

'ert'

In [26]:
myDic6={1:{11:111,22:222,33:333},2:{2:222,3:333,44:444}}

In [27]:
myDic6[2][44]

444

In [34]:
#adding new key , value in dict
alien_0 ={'color':'green','points':5}
print(alien_0)
alien_0['x_position']=0
alien_0['y_position']=25
print(alien_0)

{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5, 'x_position': 0, 'y_position': 25}

In [57]:
foods={}
foods['karahi']=['favourite','peshawari','balochi']
foods['sheep']='Boti Kabab'
foods['Khawsay']='Yummy'
foods['BBQ']='malai boti'
foods['shake']='choclate'
foods['ice cream']= {'flavour':'choclate','vanila':'strawberry','blueberry':['peanut','pista','oreo']}
print(foods)
print("\n"+foods['karahi'][1])
foods['ice cream']['blueberry'][2]

{'karahi': ['favourite', 'peshawari', 'balochi'], 'sheep': 'Boti Kabab', 'Khawsay': 'Yummy', 'BBQ': 'malai boti', 'shake': 'choclate', 'ice cream': {'flavour': 'choclate', 'vanila': 'strawberry', 'blueberry': ['peanut', 'pista', 'oreo']}}

peshawari

'oreo'

In [62]:
players = {'Watson': 'Australian International Cricketer'}
print("Shane Robert Watson is a " + players['Watson'] + '.') 

players = {'Imam ul haq': 'parchi'}
print("\n We all know that Iman ul haq " + players['Imam ul haq'].upper() + '.')

Shane Robert Watson is a Australian International Cricketer.

 We all know that Iman ul haq PARCHI.

In [63]:
psl = {'Karachi': 'kings','multan': 'sultan','zalmi' : 'won'}
print("Karachi is " +str(psl['Karachi']))

if psl['zalmi']=='loser':
    x_increment = 1
    
elif psl['zalmi'] == 'won':
    x_increment = 2
    
else:
    x_increment = 3
    
psl['zalmi'] = psl['zalmi'] + str(x_increment)
print('PSL4 zalmi :' + str(psl['zalmi']))

Karachi is kings
PSL4 zalmi :won2

In [1]:
user_0 = {'Teacher': 'Sir Nasir','Teacher_Assistant': 'Shahzad Ahsan','Student': 'Anas'}

for key, value in user_0.items():
    
    
    print("\nKey: " + key)
    print("Value: " + value)

Key: Teacher
Value: Sir Nasir

Key: Teacher_Assistant
Value: Shahzad Ahsan

Key: Student
Value: Anas

In [2]:

names = {'Shahzad':'Ahsan' , 'Sara Ali':'Khan' , 'Komal':'Aftab' , 'Hassan':'Dhedhi'}

for first_name , last_name in names.items():
    
    print('My First name is ' + first_name.title() + ' and my last name is ' + last_name.title() + '.')

My First name is Shahzad and my last name is Ahsan.
My First name is Sara Ali and my last name is Khan.
My First name is Komal and my last name is Aftab.
My First name is Hassan and my last name is Dhedhi.

# Looping Through All the Keys in a Dictionary

In [3]:
words = {'mobile':'apple' , 'batsman':'AB' , 'bike':'Heavy' , 'car':'Audi'}

for word in words.keys():
    
    print('Dict: ' + word)

Dict: mobile
Dict: batsman
Dict: bike
Dict: car

In [4]:

words = {'mobile':'apple' , 'batsman':'AB' , 'bike':'Heavy' , 'car':'Audi'}

for word in words.values():
    
    print('Dict: ' + word)

Dict: apple
Dict: AB
Dict: Heavy
Dict: Audi

In [9]:

alien1 = {'name':'Anas' , 'color':'green' , 'height':'5.7' , 'weight':'67'}

if 'last_name' not in alien1.keys():
    
    print("Please write your last name also...")

Please write your last name also...

# Looping Through a Dictionaryâ€™s Keys in Order

In [14]:
name1 = {'sheharyar':'zafar' , 'saif':'zafar' , 'zohiab':'owais' , 'umer':'najeeb' ,'ali':'khan' , 'ahmed':'amjad' , 
        'naveed':'zia'}

for new_names in sorted(name1.keys()):
    
    print(new_names.upper() + ', have a good day.')

AHMED, have a good day.
ALI, have a good day.
NAVEED, have a good day.
SAIF, have a good day.
SHEHARYAR, have a good day.
UMER, have a good day.
ZOHIAB, have a good day.

In [15]:
name1 = {'sheharyar':'zafar' , 'saif':'zafar' , 'zohiab':'owais' , 'umer':'najeeb' ,'ali':'khan' , 'ahmed':'amjad' , 
        'naveed':'zia'}

for new_names in sorted(name1.values()):
    
    print(new_names.upper() + ', have a good day.')

AMJAD, have a good day.
KHAN, have a good day.
NAJEEB, have a good day.
OWAIS, have a good day.
ZAFAR, have a good day.
ZAFAR, have a good day.
ZIA, have a good day.

In [16]:
listing = [1,4,5,7,976,56,43,89]

In [17]:
ret= sorted(listing,reverse=True)

In [18]:
ret

[976, 89, 56, 43, 7, 5, 4, 1]

In [19]:
listing

[1, 4, 5, 7, 976, 56, 43, 89]

In [28]:
listing2=[4,5,6,7,8,9,410,45]

In [43]:
abc=list(reversed(listing2))

In [44]:
abc

[45, 410, 9, 8, 7, 6, 5, 4]

In [53]:
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}

aliens = [alien_0, alien_1, alien_2]


for alien in aliens:
    print(alien)

{'color': 'green', 'points': 5}
{'color': 'yellow', 'points': 10}
{'color': 'red', 'points': 15}

In [64]:
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}

aliens = [alien_0, alien_1, alien_2]


for alien in aliens:
    for key,value in alien.items():
        print("key is {} and values in {} ". format(key,value))

key is color and values in green
key is points and values in 5
key is color and values in yellow
key is points and values in 10
key is color and values in red
key is points and values in 15

In [63]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for table in [2,3]:
    for num in numbers:
        print(f"{table} * {num} = {table*num}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30