In [2]:
print("Hello")

Hello

# Our first class

first class

This is our first class in Dhoraji Association

In [5]:
print ("Hello")

Hello

In [32]:
print("hello world ")

hello world

In [48]:
print ("Hello Python!")

Hello Python!

In [37]:
print("anas" , "dsl" , sep="***")

anas***dsl

In [36]:
print("anas" , "dsl" )

anas dsl

In [12]:
print (123+4)

127

In [10]:
print (123, "hello")

123 hello

In [15]:
print ("This is AI class\nDhoraji")

This is AI class
Dhoraji

In [16]:
print ("Languages:\nPython\nRuby\nJavaScript")

Languages:
Python
Ruby
JavaScript

In [24]:
print ("Languages:\n\tpython\n\tc\n\tJavaScript")

Languages:
	python
	c
	JavaScript

In [23]:
print ("Anas")

Anas

In [29]:
num = 10+2+5+6+4+8+6+8
print (num)

49

In [31]:
num = 10
print (num)
type (num)

10

int

In [32]:
num = "Pakistan Zindabad"
print (num)
type (num)

Pakistan Zindabad

str

In [33]:
num = "Pakistan Zindabad"
print (num)
type (num)
id (num)

Pakistan Zindabad

1733809607928

In [38]:
num = "Pakistan Zindabad"
print (num)
print(type (num))
id (num)

Pakistan Zindabad
<class 'str'>

1733809990008

In [27]:
message = "Dhoraji Association Karachi"
print(message)

Dhoraji Association Karachi

In [39]:
a = 10 +1
a

11

In [37]:
a = 10
a
print (a)

10

In [49]:
num_1 = 150
print (num_1 + 20)

170

In [50]:
num_1 = 20
num_2 = 30
num_3 = 40
print (num_1+num_2+num_3 )

90

In [51]:
original_number=15
new_number=20
total=original_number+new_number
print (total)

35

In [53]:
num_1 =20
num_2 =50
new_num =num_1+num_2
print(new_num)

70

In [54]:
num1=5
num2=5
num3=5
num4=5
num5=5
num6=5

In [58]:
num =10
another_num=1.5
total=num+another_num
print(int(total)) #type casting

11

In [59]:
name = "Shahzad Ahsan"
name = "Muhammad Ali"
print (name)

Muhammad Ali

In [41]:
message = "Good Evening"
print (message)
message = "How are you all"
print (message)

Good Evening
How are you all

In [42]:
First_name = "muhammad"
print(First_name.title())

Muhammad

In [44]:
Middle_name = "HaMZa"
print(Middle_name.lower())

hamza

In [46]:
last_name = "khan"
print(last_name.upper())

KHAN

In [6]:
FirstName="Muhammad"
MiddleName="Anas"
LastName="SaYa"
full_name =FirstName + " "+ MiddleName + " " + LastName
print (full_name)
print (full_name.title())
print (full_name.lower())
print (full_name.upper())

Muhammad Anas SaYa
Muhammad Anas Saya
muhammad anas saya
MUHAMMAD ANAS SAYA

In [26]:
#how to take input from user
num1 = int(input("Enter first number: "))
num2 = int(input ("Enter second number: "))


total = num1 + num2
print(total)

Enter first number: 3
Enter second number: 43
46

In [29]:
#how to take input from user
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))


print("the total of two inputs "+ (str(num1+num2)))

Enter first number: 12
Enter second number: 45
the total of two inputs 57

In [31]:
#how to take input from user
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))


thetotaloftwooutputs = num1 +num2
print(thetotaloftwooutputs)

Enter first number: 12
Enter second number: 45
57

In [27]:
#how to take input from user
num1 = input("Enter first number: ")
num2 = input ("Enter second number: ")


total = num1 + num2
print(total)

Enter first number: 3
Enter second number: 4
34

In [16]:
F_name = "Anas"
L_name = "Saya"
Full_Name = F_name+ " "+L_name
print("Hello, How are you "+ Full_Name +" ? ")

Hello, How are you Anas Saya ?

In [74]:
whats_left_over= 10 % 3
print (whats_left_over)

1

In [76]:
whats_left_over= 3 % 9
print (whats_left_over)

3

In [77]:
age = 2
age = age +1
print (age)

3

In [78]:
age =12
age +=50
print(age)

62

In [39]:
print ("Hello World")
print ("Hello Python")

Hello World
Hello Python

In [40]:
print ("Hello World", end='\n')
print ("Hello Python")

Hello World
Hello Python

In [41]:
print ("Hello World", end='\t')
print ("Hello Python")

Hello World	Hello Python

In [43]:
print ("Hello World", end=' ')
print ("Hello Python")

Hello World Hello Python

In [44]:
print ("Hello World","Hello Class", sep="<separator>", end='\t')
print ("Hello Python")

Hello World<separator>Hello Class	Hello Python

In [1]:
a=10 #assign a value 10 to a variable a
b=20/2
a==b #compare the value in a with the value in b
tomatoPrice=100
if tomatoPrice==100:
    print("Buy 1 kg")
    #indentation
else:
    print("Buy 1/2 kg")

Buy 1 kg

In [3]:
a=10 #assign a value 10 to a variable a
b=20/2
a==b #compare the value in a with the value in b
tomatoPrice=110
if tomatoPrice==100:
    print("Buy 1 kg")
    #indentation
else:
    print("Buy 1/2 kg")

Buy 1/2 kg

In [18]:
tomatoprice=int(input("what is the price of 1 kg tomato: " ))
if tomatoprice==100:
    print("Buy 1 kg")
else:
    print("Buy 1/2 kg")

what is the price of 1 kg tomato: 100
Buy 1 kg

In [22]:
if "abc"==100:
    print("valid")
else:
    print("invalid comaprison")

invalid comaprison

In [3]:
num = int(input("Number"))
if num % 2 == 0:
          print("Even Number")
else:
          print("Odd Number")

Number3
Odd Number

In [5]:
num = int(input("Number"))  # == (compare)
if num % 2 == 0:
          print("Even Number")
else:
          print("Odd Number")

Number6
Even Number

In [7]:
num =int(input())
quotient = num/2
if type(quotient)=="int":
    print("even")
else:
    print("odd")

4
odd

In [22]:
2+3

#integer +integer =integer

5

In [24]:
2+3.5

#integer +float = float

5.5

In [23]:
a=2+3.5
type(a)
#integer +float = float

float

In [13]:
.5+.5
#float + float = float

1.0

In [14]:
1/1
#integer divide integer = float

1.0

In [15]:
1//1
# double divide means answer we need is in integer

1

In [16]:
5/2

2.5

In [17]:
5//2

2

In [35]:
a=1
a+= 10
a

11

In [37]:
a= 10
a= a+2
a

12

In [1]:
age = 12
age += 50
age

62

In [2]:
age = 12
age -= 50
age

-38

In [3]:
age = 12
age *= 50
age

600

In [4]:
age = 12
age /= 50
age

0.24